In [1]:
#pandas data filtering

import pandas as pd

df = pd.read_csv('avocado.csv', index_col = 0)
df.head()

,Date,AveragePrice,Total Volume,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [2]:
user_filter = df['AveragePrice'] >= 2

In [3]:
filtered_df = df[user_filter]

In [4]:
filtered_df

,Date,AveragePrice,Total Volume,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
7,2016-11-06,2.07,376476.71,59042.39,57803.54,1095.69,143.16,conventional,2016,Chicago
8,2016-10-30,2.07,375213.57,54407.20,48140.45,1587.11,4679.64,conventional,2016,Chicago
7,2016-11-06,2.07,492504.81,74657.63,74025.26,103.20,529.17,conventional,2016,SanFrancisco
8,2016-10-30,2.20,477937.80,59465.15,57223.44,269.21,1972.50,conventional,2016,SanFrancisco
10,2017-10-22,2.06,519814.03,64007.37,59543.29,4441.86,22.22,conventional,2017,Chicago
...,...,...,...,...,...,...,...,...,...,...
6,2018-02-11,2.22,21708.65,2533.33,2533.33,0.00,0.00,organic,2018,SanFrancisco
8,2018-01-28,2.27,20325.75,2148.89,2148.89,0.00,0.00,organic,2018,SanFrancisco
11,2018-01-07,2.30,20151.24,1943.34,1943.34,0.00,0.00,organic,2018,SanFrancisco
9,2018-01-21,2.02,33986.68,20402.90,1469.79,18905.41,27.70,organic,2018,Seattle
10,2018-01-14,2.03,36228.45,16701.50,1630.19,15063.98,7.33,organic,2018,Seattle

In [6]:
filtered_df.groupby(['year','type']).count()

                   Date  AveragePrice  Total Volume  Total Bags  Small Bags  \
year type
2015 organic        295           295           295         295         295
2016 conventional     4             4             4           4           4
     organic        371           371           371         371         371
2017 conventional    19            19            19          19          19
     organic        731           731           731         731         731
2018 organic         24            24            24          24          24

                   Large Bags  XLarge Bags  region
year type
2015 organic              295          295     295
2016 conventional           4            4       4
     organic              371          371     371
2017 conventional          19           19      19
     organic              731          731     731
2018 organic               24           24      24